devices/Xiaomi RTCGQ01LM Occupancy/domoticz
[{"id":"b8ebdfb3.c4acb","type":"mqtt in","z":"f962b96d.7044c8","name":"zigbee2mqtt/out","topic":"zigbee2mqtt/secondbathroommotion","qos":"2","broker":"6e165f21.f7645","x":400,"y":440,"wires":[["b34e199f.3cef68"]]},{"id":"b34e199f.3cef68","type":"json","z":"f962b96d.7044c8","name":"","property":"payload","action":"","pretty":false,"x":550,"y":440,"wires":[["c03a114f.99b3d"]]},{"id":"732254f5.fb4d5c","type":"mqtt out","z":"f962b96d.7044c8","name":"","topic":"domoticz/in","qos":"","retain":"","broker":"cd51966f.aa7e38","x":850,"y":440,"wires":[]},{"id":"c03a114f.99b3d","type":"function","z":"f962b96d.7044c8","name":"Format Data","func":"// Set Domoticz device IDX\nvar occupancy = msg.payload.occupancy.toString();\nvar rssi = msg.payload.linkquality;\nmsg.payload = {}\n// If occupancy status received\nif (typeof occupancy !== 'undefined' && occupancy !== null){\nif(occupancy == 'true') {\n    var occupancystate = 'On'\n    msg.payload.nvalue = 1;\n} else if (occupancy == 'false') {\n    var occupancystate = 'Off'\n    msg.payload.nvalue = 0;\n}\nmsg.payload.idx = 1255 ;\nmsg.payload.svalue = occupancystate;\nrssi = Math.round(rssi / 12);\nif (rssi > 12) {rssi = 12;}\nmsg.payload.RSSI = rssi;\n\nreturn msg;\n}","outputs":1,"noerr":0,"x":690,"y":440,"wires":[["732254f5.fb4d5c"]]},{"id":"6e165f21.f7645","type":"mqtt-broker","z":"","name":"MQTT","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"domoticz/bridge/state","birthQos":"0","birthPayload":"online","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"cd51966f.aa7e38","type":"mqtt-broker","z":"","name":"MQTT","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
