devices/domoticz/Xiaomi WXKG01LM Button
[{"id":"754b5cba.b792d4","type":"mqtt in","z":"f962b96d.7044c8","name":"zigbee2mqtt/out","topic":"zigbee2mqtt/xiaomitestbutton","qos":"2","broker":"6e165f21.f7645","x":320,"y":60,"wires":[["9f9ffb94.e2bba8"]]},{"id":"9f9ffb94.e2bba8","type":"json","z":"f962b96d.7044c8","name":"","property":"payload","action":"","pretty":false,"x":470,"y":60,"wires":[["586c4fb7.44f7d"]]},{"id":"d990bc47.0aa8c","type":"mqtt out","z":"f962b96d.7044c8","name":"","topic":"domoticz/in","qos":"","retain":"","broker":"cd51966f.aa7e38","x":770,"y":60,"wires":[]},{"id":"586c4fb7.44f7d","type":"function","z":"f962b96d.7044c8","name":"Format Data","func":"// Xiaomi WXKG01LM Button\nif (typeof msg.payload.click !== 'undefined' && msg.payload.click !== null){\nvar click = msg.payload.click.toString();\nvar batt = Math.round(msg.payload.battery);\nvar rssi = msg.payload.linkquality;\nmsg.payload = {}\nif(click == 'single') {\n var level = 10\n} else if (click == 'double') {\n var level = 20\n} else if (click == 'triple') {\n var level = 30\n} else if (click == 'quadruple') {\n var level = 40\n} else if (click == 'many') {\n var level = 50\n} else if (click == 'long') {\n var level = 60\n} else if (click == 'long_release') {\n var level = 70\n}\n\nmsg.payload.idx = 1217 ;\nmsg.payload.nvalue = 2 ;\nmsg.payload.level = level;\nmsg.payload.svalue = level.toString();\nmsg.payload.Battery = Math.round(batt);\nrssi = Math.round(rssi / 11);\nif (rssi > 11) {rssi = 11;}\nmsg.payload.RSSI = rssi;\n\nreturn msg;\n}","outputs":1,"noerr":0,"x":610,"y":60,"wires":[["d990bc47.0aa8c"]]},{"id":"6e165f21.f7645","type":"mqtt-broker","z":"","name":"MQTT","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"domoticz/bridge/state","birthQos":"0","birthPayload":"online","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"cd51966f.aa7e38","type":"mqtt-broker","z":"","name":"MQTT","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
